Repository yourssu/Yrano, pull requests merged in 2024-06, with the labels that each got.

#14 feat: create YLS context for using baseURL
  apps/demo/.gitignore
  apps/demo/index.html
  apps/demo/main.tsx
  apps/demo/package.json
  apps/demo/src/App.tsx
  apps/demo/src/Drawer.tsx
  apps/demo/src/Home.tsx
  apps/demo/src/main.tsx
  apps/demo/src/vite-env.d.ts
  apps/demo/tsconfig.json
  apps/demo/vite.config.ts
  packages/logging-system/.eslintrc.cjs
  packages/logging-system/README.md
  packages/logging-system/src/Logger.ts
  packages/logging-system/src/SetLocalStorage.ts
  packages/logging-system/src/apis/createAxiosInstance.ts
  packages/logging-system/src/apis/customedAxios.ts
  packages/logging-system/src/apis/postLog.ts
  packages/logging-system/src/components/YLSWrapper.tsx
  packages/logging-system/src/contexts/YLSProvider.tsx
  packages/logging-system/src/hooks/useYLSContext.tsx
  packages/logging-system/src/index.ts
  packages/logging-system/tsup.config.ts
  pnpm-lock.yaml
Labels: feat, YLS

#21 refactor(@yourssu/utils): modify hasOnly functions
  .changeset/gold-hairs-peel.md
  packages/utils/src/hasNumberAndEnglishWithSymbols.en.md
  packages/utils/src/hasNumberAndEnglishWithSymbols.ko.md
  packages/utils/src/hasNumberAndEnglishWithSymbols.test.ts
  packages/utils/src/hasNumberAndEnglishWithSymbols.ts
  packages/utils/src/hasNumberOrEnglishOrHangulOrSpace.en.md
  packages/utils/src/hasNumberOrEnglishOrHangulOrSpace.ko.md
  packages/utils/src/hasNumberOrEnglishOrHangulOrSpace.test.ts
  packages/utils/src/hasNumberOrEnglishOrHangulOrSpace.ts
  packages/utils/src/hasOnlyNumberAndEnglish.ko.md
  packages/utils/src/hasOnlyNumberAndEnglish.test.ts
  packages/utils/src/hasOnlyNumberAndEnglish.ts
  packages/utils/src/hasOnlyNumberAndEnglishAndHangul.ko.md
  packages/utils/src/hasOnlyNumberAndEnglishAndHangul.test.ts
  packages/utils/src/hasOnlyNumberAndEnglishAndHangul.ts
  packages/utils/src/index.ts
Labels: refactor, utils

#24 feat(@yourssu/crypto): create crypto package (sha256, base64Encode)
  packages/crypto/README.md
  packages/crypto/package.json
  packages/crypto/src/base64Encode.en.md
  packages/crypto/src/base64Encode.ko.md
  packages/crypto/src/base64Encode.test.ts
  packages/crypto/src/base64Encode.ts
  packages/crypto/src/index.ts
  packages/crypto/src/sha256.en.md
  packages/crypto/src/sha256.ko.md
  packages/crypto/src/sha256.test.ts
  packages/crypto/src/sha256.ts
  packages/crypto/src/sha256/common.ts
  packages/crypto/src/sha256/sha256.constant.ts
  packages/crypto/src/sha256/sha256.ts
  packages/crypto/src/sha256/sha256.type.ts
  packages/crypto/tsconfig.json
  packages/crypto/tsup.config.ts
  packages/crypto/vitest.config.ts
  pnpm-lock.yaml
Labels: feat, crypto

#33 fix(@yourssu/crypto): invalid base64 encoding when using sha256
  .changeset/perfect-jars-agree.md
  packages/crypto/src/base64Encode.test.ts
  packages/crypto/src/base64Encode.ts
  packages/crypto/src/hexToUtf8.en.md
  packages/crypto/src/hexToUtf8.ko.md
  packages/crypto/src/hexToUtf8.test.ts
  packages/crypto/src/hexToUtf8.ts
  packages/crypto/src/index.ts
Labels: fix, crypto

#31 refactor(@yourssu/logging-system): apply @yourssu/crypto
  .changeset/khaki-elephants-deliver.md
  packages/logging-system/package.json
  packages/logging-system/src/Logger.ts
  packages/logging-system/tsup.config.ts
  pnpm-lock.yaml
Labels: refactor, YLS, crypto

#29 feat(@yourssu/docs): nextra setting
  apps/docs/.gitignore
  apps/docs/README.md
  apps/docs/next-env.d.ts
  apps/docs/next.config.mjs
  apps/docs/package.json
  apps/docs/src/middleware.ts
  apps/docs/src/pages/_meta.en.json
  apps/docs/src/pages/_meta.ko.json
  apps/docs/src/pages/crypto/_meta.en.json
  apps/docs/src/pages/crypto/_meta.ko.json
  apps/docs/src/pages/crypto/base64Encode.en.md
  apps/docs/src/pages/crypto/base64Encode.ko.md
  apps/docs/src/pages/crypto/hexToUtf8.en.md
  apps/docs/src/pages/crypto/hexToUtf8.ko.md
  apps/docs/src/pages/crypto/sha256.en.md
  apps/docs/src/pages/crypto/sha256.ko.md
  apps/docs/src/pages/eslint-config.en.md
  apps/docs/src/pages/eslint-config.ko.md
  apps/docs/src/pages/index.en.md
  apps/docs/src/pages/index.ko.md
  apps/docs/src/pages/react/hooks/_meta.en.json
  apps/docs/src/pages/react/hooks/_meta.ko.json
  apps/docs/src/pages/react/hooks/useInterval.en.md
  apps/docs/src/pages/react/hooks/useInterval.ko.md
  apps/docs/src/pages/react/hooks/useMediaQuery.en.md
  apps/docs/src/pages/react/hooks/useMediaQuery.ko.md
  apps/docs/src/pages/react/hooks/useSecTimer.en.md
  apps/docs/src/pages/react/hooks/useSecTimer.ko.md
  apps/docs/src/pages/utils/_meta.en.json
  apps/docs/src/pages/utils/_meta.ko.json
  apps/docs/src/pages/utils/hasNumberAndEnglishWithSymbols.en.md
  apps/docs/src/pages/utils/hasNumberAndEnglishWithSymbols.ko.md
  apps/docs/src/pages/utils/hasNumberOrEnglishOrHangulOrSpace.en.md
  apps/docs/src/pages/utils/hasNumberOrEnglishOrHangulOrSpace.ko.md
  apps/docs/theme.config.tsx
  apps/docs/tsconfig.json
  pnpm-lock.yaml
Labels: feat, docs

#39 feat(@yourssu/utils): create debounce, throttle func
  apps/docs/src/pages/utils/debounce.en.md
  apps/docs/src/pages/utils/debounce.ko.md
  apps/docs/src/pages/utils/throttle.en.md
  apps/docs/src/pages/utils/throttle.ko.md
  package.json
  packages/utils/package.json
  packages/utils/src/debounce.test.ts
  packages/utils/src/debounce.ts
  packages/utils/src/index.ts
  packages/utils/src/throttle.test.ts
  packages/utils/src/throttle.ts
  pnpm-lock.yaml
Labels: feat, utils

#40 feat(@yourssu/react): create useDebounce, useThrottle
  apps/docs/src/pages/react/hooks/useDebounce.en.md
  apps/docs/src/pages/react/hooks/useDebounce.ko.md
  apps/docs/src/pages/react/hooks/useThrottle.en.md
  apps/docs/src/pages/react/hooks/useThrottle.ko.md
  packages/react/package.json
  packages/react/src/hooks/useDebounce.test.ts
  packages/react/src/hooks/useDebounce.ts
  packages/react/src/hooks/useThrottle.test.ts
  packages/react/src/hooks/useThrottle.ts
  pnpm-lock.yaml
  turbo.json
Labels: feat, react

#41 feat(@yourssu/utils): create isEmail
  apps/docs/src/pages/utils/isEmail.en.md
  apps/docs/src/pages/utils/isEmail.ko.md
  packages/utils/src/index.ts
  packages/utils/src/isEmail.test.ts
  packages/utils/src/isEmail.ts
Labels: feat, utils

#38 feat(@yourssu/utils): create formatYYYYMMDDHHMM
  apps/docs/src/pages/utils/formatYYYYMMDDHHMM.en.md
  apps/docs/src/pages/utils/formatYYYYMMDDHHMM.ko.md
  packages/utils/package.json
  packages/utils/src/formatYYYYMMDDHHMM.test.ts
  packages/utils/src/formatYYYYMMDDHHMM.ts
  packages/utils/src/index.ts
  packages/utils/tsup.config.ts
  pnpm-lock.yaml
Labels: feat, utils

#45 fix(*): setting and rename demo
  .npmrc
  apps/yls-example/.gitignore
  apps/yls-example/README.md
  apps/yls-example/index.html
  apps/yls-example/package.json
  apps/yls-example/src/App.tsx
  apps/yls-example/src/Drawer.tsx
  apps/yls-example/src/Home.tsx
  apps/yls-example/src/main.tsx
  apps/yls-example/src/vite-env.d.ts
  apps/yls-example/tsconfig.json
  apps/yls-example/vite.config.ts
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  pnpm-lock.yaml
  turbo.json
Labels: fix

#50 fix(@yourssu/logging-system): remove unload feature
  .changeset/cool-geckos-join.md
  apps/yls-example/.gitignore
  packages/logging-system/src/Logger.ts
  packages/logging-system/src/SetLocalStorage.ts
  packages/logging-system/src/contexts/YLSProvider.tsx
Labels: fix, YLS

#54 refactor(@yourssu/eslint-config): remove rushstack-patch
  .changeset/light-rocks-hammer.md
  apps/config-example/.eslintrc.cjs
  apps/docs/src/pages/eslint-config.en.md
  apps/docs/src/pages/eslint-config.ko.md
  packages/eslint-config/package.json
  packages/eslint-config/patch.js
  pnpm-lock.yaml
Labels: refactor, eslint-config
